@using MyCookingPassion.Common
@model MyCookingPassion.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <hr />
    <div class="col-md-8 offset-2">
        <h2>We have:</h2>
        <span class="card-header bg-success badge-pill">Recipes: @Model.RecipesCount</span>
        <span class="card-header bg-success badge-pill">Categories: @Model.CategoriesCount</span>
        <span class="card-header bg-success badge-pill">Ingredients: @Model.IngredientsCount</span>
    </div>
</div>
