@using MyCookingPassion.Common
@model MyCookingPassion.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <hr />
    <br />
    <div class="col-md-8 offset-2">
        <h2>We have:</h2>
        <br />
        <hr />
        <br />
        <span class="card-header bg-success badge-pill font-weight-bold">Recipes: @Model.RecipesCount</span>
        <span class="card-header bg-success badge-pill font-weight-bold">Categories: @Model.CategoriesCount</span>
        <span class="card-header bg-success badge-pill font-weight-bold">Ingredients: @Model.IngredientsCount</span>
    </div>
</div>
<br />
<hr />
